#elements{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(13, 1fr);
    row-gap: 1px;
    column-gap: 3px;
}

.card{
    height: 75px;
    border:1px solid #151718;
    margin-bottom:5px;
    border-radius:2px;
    cursor:pointer;
}
